@use '../mixins' as mixin;

.contentCard {
  max-width: 1130px;
  width: 100%;

  .grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 350px);
    gap: 20px;
    @include mixin.lg-lt{
      grid-template-columns: repeat(2, 350px);
    }
    @include mixin.sm-lt {
      grid-template-columns: repeat(1, 350px);
    }
  }
}

.searchBar {
  padding: 10px 15px;
  border: 2px solid var(--gray-2);
  border-radius: 20px;
  input {
    outline: 0;
    border: 0;
   
  }
}

